@using MvcCv.Models.Entity  
@model List<TblHobilerim>

<div class="resume-section-content">
    <h2 class="mb-5">Interests</h2>
    @foreach (var item in Model)
    {
        <p>@item.Aciklama1</p>
        <p class="mb-0">@item.Aciklama2</p>
    }

    <ul class="list-inline dev-icons my-4">
        <li class="list-inline-item"><i class="fa-solid fa-book"></i></li>       
        <li class="list-inline-item"><i class="fa-solid fa-dumbbell"></i></li>       
        <li class="list-inline-item"><i class="fa-solid fa-bowl-food"></i></li>       
        <li class="list-inline-item"><i class="fa-solid fa-music"></i></li>       
        <li class="list-inline-item"><i class="fa-sharp fa-solid fa-video"></i></li>       
        <li class="list-inline-item"><i class="fa-sharp fa-solid fa-user-group"></i></li>       
        <li class="list-inline-item"><i class="fa-solid fa-code"></i></li>       
        
    </ul>
</div>