@using MvcCv.Models.Entity  
@model List<TblHobilerim>

<div class="resume-section-content">
    <h2 class="mb-5">Hobilerim</h2>
    @foreach (var item in Model)
    {
        <p>@item.Aciklama1</p>
        <p class="mb-0">@item.Aciklama2</p>
    }

    <ul class="list-inline dev-icons my-4">
        <li class="list-inline-item"><i class="fa-solid fa-book"></i></li>       
        <li class="list-inline-item"><i class="fa-solid fa-book"></i></li>       
    </ul>
</div>