
<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">Iletisim</h2>
        <label>Ad Soyad</label>
        <input type="text" class="form-control mb-2" name="AdSoyad"/>

        <label>Mail</label>
        <input type="text" class="form-control mb-2" name="Mail"/>

        <label>Konu</label>
        <input type="text" class="form-control mb-2" name="Konu"/>

        <label>Mesaj</label>
        <input type="text" class="form-control mb-2" name="Mesaj"/>
        <br />
        <button class="btn btn-info">Mesaj Gönder</button>
    </form>
</div>