@using MvcCv.Models.Entity
@model List<TblProjelerim>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {    
        <div class="col">
            <div class="card">
                <img src="@item.ProjeResim1" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@item.ProjeName</h5>
                    <p class="card-text">@item.ProjeAciklama</p>
                </div>
            </div>
        </div>         
    }
</div>