@using MvcCv.Models.Entity
@model List<TblProjelerim>
@*@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TblProjelerim>*@

@{
    Layout = null;
}

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <img src="@item.ProjeResim1" class="card-img-top img-thumbnail" style="width:350px; height:170px; object-fit:contain">
                <div class="card-body">
                    <h4 class="card-title">@item.ProjeName</h4>
                    <p class="card-text">@item.ProjeAciklama.Substring(0, item.ProjeAciklama.Substring(0, 150).LastIndexOf(" "))...</p>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-success text-white" href="/Proje/ProjeDetay/@item.id">Show Details</a>
                    </div>
                </div>
                @*<div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>*@
            </div>
        </div>
    }

</div>

@*@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Projelerim", new { sayfa }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    { "page-link"}
})*@




