
<div class="comment-top">
    <h4>Yorum Yap</h4>
    <div class="comment-bottom">
        <form method="post">
            <input type="hidden" name="ProjeId" value="@ViewBag.projeid"/>
            <input class="form-control text-dark" type="text" name="AdSoyad" placeholder="Ad Soyad" required="">
            <input class="form-control text-dark" type="email" name="Mail" placeholder="Email" required="">

            <input class="form-control text-dark" type="text" name="Konu" placeholder="Konu" required="">

            <textarea class="form-control text-dark" name="Icerik" placeholder="Mesaj" required=""></textarea>
            <button type="submit" class="btn btn-primary submit my-2">Gönder</button>
        </form>
    </div>
</div>
