@model MvcCv.Models.Entity.TblSertifikalarim

@{
    ViewBag.Title = "SertifikaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Edit Sertificate Page</h4>
<form method="post">
    <br />
    @Html.Label("Sertificate Explanation")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    @Html.Label("Date")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Update</button>
    <a href="/Sertifika/SertifikaSil/@Model.ID" class="btn btn-danger">Delete</a>
</form>


